atom.symlink/.apm
atom.symlink/dev/
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/blob-storage

git/gitconfig.local.symlink
