"*":
  "exception-reporting":
    userId: "46da3ee8-8b2e-7312-8406-7e3cca1a15e6"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/gmuller/Documents/code"
    themes: [
      "atom-light-ui"
      "atom-light-syntax"
    ]
  editor:
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    preferredLineLength: 120
  tidal: {}
  "tool-bar":
    position: "Left"
  "one-dark-ui": {}
  "vim-mode": {}
  "ever-notedown": {}
".source.tidal":
  editor:
    preferredLineLength: 120
